:root {
  --color-primary: #fdf7ef;
  --color-secondary: #a68e74;
  --color-accent: #9d3636;
  --color-headings: #3e554b;
  --color-text: #1d3027;
  --font-main: "work-sans";
  --font-accent: "work-sans";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Topography */
::selection {
  background: var(--color-accent);
  color: var(--color-primary);
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
}

h2,
h3 {
  color: var(--color-headings);
  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  color: var(--color-primary);
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0;
  line-height: normal;
}

h2 {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    line-height: 2.5;
  }
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Grids */
.grid {
  display: grid;
  grid-gap: 10px;
  margin: 5rem 2rem 0;
}

.grid__image,
.grid__content {
  margin: auto;
}

.grid__image img {
  display: block;
  margin: auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .grid {
    margin: 5rem 2rem;
  }

  .grid__image img {
    width: 70%;
  }

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Flex */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Container */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    height: 100vh;
  }
}

/* Hero */
.hero {
  align-items: center;
  background: url(/images/background.jpg);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
}

/* Navbar */
.navbar {
  padding: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.navbar__wrapper {
  font-size: 3rem;
  line-height: 200%;
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
  background-color: var(--color-accent);
  position: relative;
  left: 100%;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.navbar--expanded {
  position: fixed;
}

.navbar--expanded .navbar__wrapper {
  left: 0;
}

.navbar__button {
  cursor: pointer;
  height: 4rem;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.3s ease-in-out;
  width: 4rem;
  z-index: 100;
  background-color: var(--color-primary);
  opacity: 0.5;
  border-radius: 50px;
}

.navbar__button:hover {
  opacity: 1;
}

.navbar__button span,
.navbar__button:before,
.navbar__button:after {
  border-bottom: 2px solid var(--color-accent);
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 50%;
}

.navbar__button:before {
  transform: translateY(-8px);
}

.navbar__button:after {
  transform: translateY(8px);
}

/* button animation */
.navbar--expanded .navbar__button {
  background: none;
}

.navbar--expanded .navbar__button span {
  transform: scaleX(0);
}
.navbar--expanded .navbar__button:before {
  transform: rotate(45deg);
  border-color: var(--color-primary);
}
.navbar--expanded .navbar__button:after {
  transform: rotate(-45deg);
  border-color: var(--color-primary);
}

.navbar__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .navbar {
    position: static;
  }

  .navbar__wrapper {
    position: static;
    font-size: 2rem;
    height: auto;
    width: auto;
    background: none;
    margin: 0;
    padding-top: 0;
  }

  .navbar__button,
  .navbar__button span,
  .navbar__button:after,
  .navbar__button:before {
    display: none;
  }

  .navbar__content {
    flex-direction: row;
    gap: 20px;
  }

  .navbar__content li {
    display: block;
  }

  .navbar__content li:after {
    border-bottom: 1px solid var(--color-text);
    content: "";
    display: block;
    transition: all 0.3s;
    width: 0%;
  }

  .navbar__content li:hover:after {
    width: 100%;
  }
}

/* About */
@media screen and (min-width: 768px) {
  .about__heading,
  .about__content {
    padding-right: 10rem;
    text-align: left;
  }
}

/* Gallery */
.gallery--slider {
  max-width: 1440px;
  position: relative;
  margin: 2rem 0;
}

.gallery__button {
  top: 50%;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 60%;
  align-self: center;
  height: 35px;
  padding: 4px;
  box-shadow: 0 0 5px 2px rgba(176, 176, 176, 0.31);
}

.gallery__button:hover {
  background-color: var(--color-primary);
}

.gallery__button:first-child {
  left: 5px;
  display: none;
}

.gallery__button:last-child {
  right: 5px;
}

.gallery__carousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  font-size: 0;
}

.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.dragging img {
  pointer-events: none;
}

.gallery__item {
  height: 450px;
  object-fit: cover;
  margin: 0 0 0 14px;
  width: 100%;
}

.gallery__item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1024px) {
  .gallery__item {
    width: calc(100% / 3);
  }
}

/* Contact */

.contact__icons {
  display: flex;
  justify-content: center;
}

.contact__icon > img {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  transition: transform 0.6s;
  cursor: pointer;
}

.contact__icon > img:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  text-align: center;
}

.footer__copyright {
  font-size: 1rem;
  opacity: 0.6;
}
