<section class="block container">
  <input type="checkbox" id="active" />
  <label for="active" class="navbar-btn">
    <span></span>
  </label>
  <label for="active" class="close"></label>
  <div class="navbar">
    <ul class="list">
      <li><a class="navbar__item" href="#">Home</a></li>
      <li><a class="navbar__item" href="#">About</a></li>
      <li><a class="navbar__item" href="#">Gallery</a></li>
      <li><a class="navbar__item" href="#">Reservation</a></li>
      <li><a class="navbar__item" href="#">Contact</a></li>
    </ul>
  </div>
</section>
